In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import os
import folium

In [3]:
data_path='../data'
sns.set(rc={'figure.figsize':(20,6)})

In [4]:
conflict_df=pd.read_csv(os.path.join(data_path,'2022-02-24-2024-04-20-Europe-Ukraine.csv'))
conflict_df.head()

,event_id_cnty,event_date,year,time_precision,disorder_type,event_type,sub_event_type,actor1,assoc_actor_1,inter1,...,latitude,longitude,geo_precision,source,source_scale,notes,fatalities,tags,timestamp,population_best
0,UKR156189,12 April 2024,2024,1,Political violence,Battles,Armed clash,Military Forces of Russia (2000-),NaN,8,...,48.5008,37.9680,2,Ministry of Defence of Ukraine,Other,"On 12 April 2024, Russian forces clashed with ...",0,NaN,1713291478,56.0
1,UKR156190,12 April 2024,2024,1,Political violence,Explosions/Remote violence,Shelling/artillery/missile attack,Military Forces of Russia (2000-),NaN,8,...,46.6799,32.6925,2,Unian,National,"On 12 April 2024, Russian forces shelled near ...",0,NaN,1713291478,11352.0
2,UKR156191,12 April 2024,2024,1,Political violence,Battles,Armed clash,Military Forces of Russia (2000-),NaN,8,...,47.8815,37.3570,2,Ministry of Defence of Russia,National,"On 12 April 2024, Russian and Ukrainian forces...",3,NaN,1713291478,368.0
3,UKR156192,12 April 2024,2024,1,Political violence,Battles,Armed clash,Military Forces of Russia (2000-),Military Forces of Russia (2000-) Air Force,8,...,48.1936,37.6405,2,Ministry of Defence of Russia; Ministry of Def...,Other-National,"On 12 April 2024, Russian forces, supported by...",2,NaN,1713291478,120.0
4,UKR156193,12 April 2024,2024,1,Political violence,Explosions/Remote violence,Shelling/artillery/missile attack,Military Forces of Russia (2000-),NaN,8,...,47.5268,36.0004,2,Ministry of Defence of Ukraine,Other,"On 12 April 2024, Russian forces shelled near ...",0,NaN,1713291478,282.0

In [5]:
conflict_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103909 entries, 0 to 103908
Data columns (total 32 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   event_id_cnty       103909 non-null  object
 1   event_date          103909 non-null  object
 2   year                103909 non-null  int64
 3   time_precision      103909 non-null  int64
 4   disorder_type       103909 non-null  object
 5   event_type          103909 non-null  object
 6   sub_event_type      103909 non-null  object
 7   actor1              103909 non-null  object
 8   assoc_actor_1       8245 non-null    object
 9   inter1              103909 non-null  int64
 10  actor2              51049 non-null   object
 11  assoc_actor_2       7298 non-null    object
 12  inter2              103909 non-null  int64
 13  interaction         103909 non-null  int64
 14  civilian_targeting  6706 non-null    object
 15  iso                 103909 non-null  int64
 16  region              103909 non-null  object
 17  country             103909 non-null  object
 18  admin1              103880 non-null  object
 19  admin2              103793 non-null  object
 20  admin3              103287 non-null  object
 21  location            103909 non-null  object
 22  latitude            103909 non-null  float64
 23  longitude           103909 non-null  float64
 24  geo_precision       103909 non-null  int64
 25  source              103909 non-null  object
 26  source_scale        103909 non-null  object
 27  notes               103909 non-null  object
 28  fatalities          103909 non-null  int64
 29  tags                689 non-null     object
 30  timestamp           103909 non-null  int64
 31  population_best     96153 non-null   float64
dtypes: float64(3), int64(9), object(20)
memory usage: 25.4+ MB

In [6]:
conflict_df.describe(include='all')

,event_id_cnty,event_date,year,time_precision,disorder_type,event_type,sub_event_type,actor1,assoc_actor_1,inter1,...,latitude,longitude,geo_precision,source,source_scale,notes,fatalities,tags,timestamp,population_best
count,103909,103909,103909.000000,103909.000000,103909,103909,103909,103909,8245,103909.000000,...,103909.000000,103909.000000,103909.000000,103909,103909,103909,103909.000000,689,1.039090e+05,96153.000000
unique,103909,779,NaN,NaN,4,6,24,92,115,NaN,...,NaN,NaN,NaN,1372,20,103809,NaN,95,NaN,NaN
top,UKR156189,07 September 2022,NaN,NaN,Political violence,Explosions/Remote violence,Shelling/artillery/missile attack,Military Forces of Russia (2000-),Military Forces of Russia (2000-),NaN,...,NaN,NaN,NaN,Ministry of Defence of Ukraine,Other,"Displacement: On 8 April 2022, 3544 people wer...",NaN,crowd size=no report,NaN,NaN
freq,1,239,NaN,NaN,95978,76418,63913,74739,4349,NaN,...,NaN,NaN,NaN,42623,58818,8,NaN,212,NaN,NaN
mean,NaN,NaN,2022.727945,1.013550,NaN,NaN,NaN,NaN,NaN,6.862562,...,48.577430,36.242451,1.636576,NaN,NaN,NaN,0.686524,NaN,1.685603e+09,15038.274781
std,NaN,NaN,0.658481,0.132016,NaN,NaN,NaN,NaN,NaN,2.559907,...,1.327085,2.168118,0.521740,NaN,NaN,NaN,7.475947,NaN,1.762451e+07,44917.029519
min,NaN,NaN,2022.000000,1.000000,NaN,NaN,NaN,NaN,NaN,1.000000,...,43.389000,22.596000,1.000000,NaN,NaN,NaN,0.000000,NaN,1.646174e+09,0.000000
25%,NaN,NaN,2022.000000,1.000000,NaN,NaN,NaN,NaN,NaN,8.000000,...,47.697500,35.259700,1.000000,NaN,NaN,NaN,0.000000,NaN,1.673376e+09,278.000000
50%,NaN,NaN,2023.000000,1.000000,NaN,NaN,NaN,NaN,NaN,8.000000,...,48.313300,37.229700,2.000000,NaN,NaN,NaN,0.000000,NaN,1.687880e+09,1156.000000
75%,NaN,NaN,2023.000000,1.000000,NaN,NaN,NaN,NaN,NaN,8.000000,...,49.311400,37.850800,2.000000,NaN,NaN,NaN,0.000000,NaN,1.699385e+09,7104.000000
max,NaN,NaN,2024.000000,3.000000,NaN,NaN,NaN,NaN,NaN,8.000000,...,52.341300,40.132200,3.000000,NaN,NaN,NaN,600.000000,NaN,1.713291e+09,510133.000000

In [7]:
# Створення нового датафрейму з копією конфліктного датафрейму та зміненим стовпцем "event_id_cnty"
expl_df = conflict_df.copy()




# Виведення нового датафрейму
expl_df.head(2)

,event_id_cnty,event_date,year,time_precision,disorder_type,event_type,sub_event_type,actor1,assoc_actor_1,inter1,...,latitude,longitude,geo_precision,source,source_scale,notes,fatalities,tags,timestamp,population_best
0,UKR156189,12 April 2024,2024,1,Political violence,Battles,Armed clash,Military Forces of Russia (2000-),NaN,8,...,48.5008,37.9680,2,Ministry of Defence of Ukraine,Other,"On 12 April 2024, Russian forces clashed with ...",0,NaN,1713291478,56.0
1,UKR156190,12 April 2024,2024,1,Political violence,Explosions/Remote violence,Shelling/artillery/missile attack,Military Forces of Russia (2000-),NaN,8,...,46.6799,32.6925,2,Unian,National,"On 12 April 2024, Russian forces shelled near ...",0,NaN,1713291478,11352.0

In [8]:
# Вибираємо тільки потрібні стовпці та фільтруємо за потрібними значеннями у стовпці "event_type"
expl_df = conflict_df.loc[conflict_df['event_type'].isin(['Explosions/Remote violence', 'Riots', 'Violence against civilians']), 
                          ['event_id_cnty', 'event_date', 'year', 'event_type', 'sub_event_type', 'actor1', 'actor2', 'inter2', 
                           'civilian_targeting', 'admin1', 'admin2', 'location', 'latitude', 'longitude', 'source', 
                           'fatalities', 'population_best']]

# Перейменовуємо стовпці
expl_df.rename(columns={'event_id_cnty': 'event_id', 'admin1': 'region', 'admin2': 'district', 'population_best': 'population'}, inplace=True)

# Виділення останніх 6 символів та перетворення на ціле число
expl_df['event_id'] = expl_df['event_id'].str[3:].astype(int)

expl_df.reset_index(drop=True, inplace=True)

# Виводимо новий датафрейм
expl_df.head()

,event_id,event_date,year,event_type,sub_event_type,actor1,actor2,inter2,civilian_targeting,region,district,location,latitude,longitude,source,fatalities,population
0,156190,12 April 2024,2024,Explosions/Remote violence,Shelling/artillery/missile attack,Military Forces of Russia (2000-),NaN,0,NaN,Kherson,Khersonskyi,Antonivka,46.6799,32.6925,Unian,0,11352.0
1,156193,12 April 2024,2024,Explosions/Remote violence,Shelling/artillery/missile attack,Military Forces of Russia (2000-),NaN,0,NaN,Zaporizhia,Polohivskyi,Bilohiria,47.5268,36.0004,Ministry of Defence of Ukraine,0,282.0
2,156195,12 April 2024,2024,Explosions/Remote violence,Shelling/artillery/missile attack,Military Forces of Russia (2000-),NaN,0,NaN,Sumy,Sumskyi,Bilopillia,51.1483,34.3008,Suspilne Media,0,15070.0
3,156196,12 April 2024,2024,Explosions/Remote violence,Shelling/artillery/missile attack,Military Forces of Russia (2000-),NaN,0,NaN,Kherson,Khersonskyi,Bilozerka,46.6248,32.4425,Unian,0,3428.0
4,156199,12 April 2024,2024,Explosions/Remote violence,Shelling/artillery/missile attack,Military Forces of Russia (2000-),NaN,0,NaN,Zaporizhia,Polohivskyi,Chervone,47.6565,36.3908,Ministry of Defence of Ukraine,0,261.0

In [9]:
expl_df.columns

Index(['event_id', 'event_date', 'year', 'event_type', 'sub_event_type',
       'actor1', 'actor2', 'inter2', 'civilian_targeting', 'region',
       'district', 'location', 'latitude', 'longitude', 'source', 'fatalities',
       'population'],
      dtype='object')

In [10]:
expl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77400 entries, 0 to 77399
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   event_id            77400 non-null  int32
 1   event_date          77400 non-null  object
 2   year                77400 non-null  int64
 3   event_type          77400 non-null  object
 4   sub_event_type      77400 non-null  object
 5   actor1              77400 non-null  object
 6   actor2              25515 non-null  object
 7   inter2              77400 non-null  int64
 8   civilian_targeting  6689 non-null   object
 9   region              77387 non-null  object
 10  district            77341 non-null  object
 11  location            77400 non-null  object
 12  latitude            77400 non-null  float64
 13  longitude           77400 non-null  float64
 14  source              77400 non-null  object
 15  fatalities          77400 non-null  int64
 16  population          77170 non-null  float64
dtypes: float64(3), int32(1), int64(3), object(10)
memory usage: 9.7+ MB

In [11]:
expl_df.describe(include='all')

,event_id,event_date,year,event_type,sub_event_type,actor1,actor2,inter2,civilian_targeting,region,district,location,latitude,longitude,source,fatalities,population
count,77400.000000,77400,77400.000000,77400,77400,77400,25515,77400.000000,6689,77387,77341,77400,77400.000000,77400.000000,77400,77400.000000,77170.000000
unique,NaN,779,NaN,3,10,63,54,NaN,1,26,130,2290,NaN,NaN,966,NaN,NaN
top,NaN,18 August 2022,NaN,Explosions/Remote violence,Shelling/artillery/missile attack,Military Forces of Russia (2000-),Military Forces of Ukraine (2019-),NaN,Civilian targeting,Donetsk,Polohivskyi,Kherson,NaN,NaN,Ministry of Defence of Ukraine,NaN,NaN
freq,NaN,193,NaN,76418,63913,55242,7995,NaN,6689,28998,7260,846,NaN,NaN,36693,NaN,NaN
mean,102312.767636,NaN,2022.713488,NaN,NaN,NaN,NaN,1.468566,NaN,NaN,NaN,NaN,48.635171,36.113778,NaN,0.439496,16454.017390
std,29671.250524,NaN,0.650251,NaN,NaN,NaN,NaN,2.759295,NaN,NaN,NaN,NaN,1.415610,2.096539,NaN,5.693506,47787.390697
min,52150.000000,NaN,2022.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,43.389000,22.770800,NaN,0.000000,0.000000
25%,76566.750000,NaN,2022.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,47.663900,34.780000,NaN,0.000000,283.000000
50%,100974.500000,NaN,2023.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,48.262600,36.835300,NaN,0.000000,1346.000000
75%,128445.250000,NaN,2023.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,49.640700,37.767800,NaN,0.000000,7567.000000
max,156316.000000,NaN,2024.000000,NaN,NaN,NaN,NaN,8.000000,NaN,NaN,NaN,NaN,52.341300,40.132200,NaN,500.000000,510133.000000

In [12]:
# Заміна значень у колонці 'civilian_targeting' згідно з умовою
expl_df['civilian_targeting'] = expl_df['civilian_targeting'].apply(lambda x: 'Yes' if x == 'Civilian targeting' else 'No' if pd.isna(x) else x)

# Виведення оновленого датафрейму
expl_df.head()
expl_df['sub_event_type'].unique()

array(['Shelling/artillery/missile attack', 'Air/drone strike',
       'Remote explosive/landmine/IED', 'Abduction/forced disappearance',
       'Attack', 'Grenade', 'Sexual violence', 'Suicide bomb',
       'Mob violence', 'Violent demonstration'], dtype=object)

In [13]:

expl_df.to_csv('../data\cleaned_data.csv', index=False)  # Зберегти без індексів